/* html{ */
/* 	background-color: red; */
	
/* } */


.aviso{
	color:red;
}
#cabecera{
	display:flex;
}

#usuario{
	padding-right:10px;
}

 main{
 margin-bottom: 200px;
 }
 
 footer{
 	background-color:white;
 }
 
 
 
  .link-button {
    display: inline-block;
    padding: 5px 20px;
    background-color: #BA3B0A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-width: 0.5px;
    border: solid #BA3B0A;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Añadido */
  }
  
  
  
  .link-button:hover {
    background-color: #000000;
     border-color: #000000; /* Añadido */
  }

