<div id="layoutSidenav" th:fragment="nav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Tablas</div>
						<a class="nav-link" th:href="@{/Home/Productos}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Productos
						</a> <a class="nav-link" th:href="@{/Home/Pedidos}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Pedidos
						</a> <a class="nav-link" th:href="@{/Home/Categorias}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Categorias
						</a> <a class="nav-link" th:href="@{/Home/Usuarios}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Usuarios
						</a>
					</div>
				</div>

			</nav>
		</div>
	